<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :coach_id,:value => current_user.id %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "league Name" %><br>
    <%= f.select("league_id", League.where("coach_id = ?",current_user.id).collect {|p| [ p.title, p.id ] }, {prompt: 'Select a League'}) %>
  </div>
  <div class="field">
    <%= f.label :division %><br>
    <%= f.select("division", Team::DIVISION,{prompt: 'Select a Division'}) %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :debut %><br>
    <%= f.text_field :debut %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
