<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @player.dob %>
</p>

<p>
  <strong>Debut:</strong>
  <%= @player.debut %>
</p>

<p>
  <strong>Height:</strong>
  <%= @player.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @player.weight %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @player.coach_id %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @player.postal_code %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @player.rank %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team_id %>
</p>
<%if current_user.type == "Coach" && cookies[:auth_token].to_s == @player.coach.auth_token.to_s%>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%end%>
<%= link_to 'Back', players_path %>
